# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\João Cotrim\Desktop\João Cotrim\Universidade\3º ano\1º Semestre\SDP\quickstart-20.0.1.Final\helloworld\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
